body {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: purple;
    font-size: 22px;
}


#form-wrapper{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    width: 100%;
    line-height: 40px;
    box-sizing: border-box;
    border-color: white;
    color: white;
    margin-left: 25px;
}

#artist-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 90px;
}

.artist-list-item{
    background-color: rgb(190, 96, 190);
    padding: 1%;
    align-self: center;
    width: 220px;
    height: 230px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 25px 75px;
    align-items: center;
}

.button{
        padding: 10px;
        margin: 25px;
        width: 90px;
        height: 35px;
        border: none;
        outline: none;
        background: #2e033c;
        color: #fff;
        font-size: 14px;
        border-radius: 40px;
        text-align: center;
        box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
        cursor: pointer;
}
.button:hover{
    transform: translateY(0) scale(1.5);
}

h1{
    text-align: center;
}

h2{
    margin: 25px;
}

@keyframes drop{ 
    0% {top: -50%}
    100% {top: 110%;}
}